################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Adeptik.CommandLineUtils.xproj.user
/project.lock.json
/bin
/obj
